@import "../../../sass/abstract/_variables";
@import "../../../sass/abstract/_colors";
@import "../../../sass/abstract/_mixins";

.cart_product-container {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  padding: 1rem;
  margin: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: stretch;

  & .cart-product-img {
    height: 15rem;
  }

  & .cart_product-detail {
    height: 100%;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    font-size: $sub_title;
    font-weight: 600;
  }
  & .title{
    margin: .4rem 0rem;
  }
  & .cart_product-price {
    display: flex;
    width: 9rem;
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;
    font-size: $sub_title;
    font-weight: 600;
  }
  .amount {
    display: flex;
    width: inherit;
    height: 3rem;
    justify-content: space-around;
    align-items: center;
    font-size: $sub_title;
    font-weight: 600;
  }
  & .product-line-border {
    position: absolute;
    width: 80%;
    height: 0.2rem;
    border: none;
    border-radius: 0.4rem;
    background-color: $mediumGray;
    bottom: 0.1rem;
  }
}
