
    $lightBlue:#449ce4;
    $mediumBlue:#2b5cbe;
    $darkBlue:#142d5e;

    $lightGreen:#1bfd40;
    $mediumGreen:#4ac24a;
    $darkGreen:#3c701e;
    
    $lightGray:#f1f1f1;
    $BackgroundGray:rgba(245, 245, 245, 0.582);;
    $mediumGray:#bebebe;
    $darkGray:#919191;


    $headingWhite:#fff8f8;
    $formdarkBlue: #2888b4;
    $formmediumBlue: #3484ce;
    $formlightBlue: #4abdff;



