.container-announcement{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3.5vh;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 500;
    color: white;
    background-color: teal;
}