.category-item-container {
  height: 70rem;
  overflow: hidden;
  width: 50rem;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;

  & .category-img {
    position: absolute;
    z-index: 0;
    margin-top: 6rem;
    height: 65rem;
    width: fit-content;
  }

  & .category-title {
    z-index: 1;
    position: relative;
    top: 6rem;
    text-align: center;
    width: 80%;
    color: white;
    font-size: 4.5rem;
    font-weight: 800;
    font-family: "Roboto", sans-serif;
  }

  & .category-btn {
    z-index: 1;
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    padding: 2rem;
    border: 0.2rem solid white;
    background-color: transparent;
    color: white;
    font-size: 2.2rem;
    font-weight: 700;
    text-transform: uppercase;
  }
}
