.newsletter-container {
  height: 50vh;
  width: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;

  & .newsletter-title {
    height: auto;
    font-size: 5rem;
    width: fit-content;
    font-weight: 700;
    word-spacing: 0.2rem;
    font-family: "Roboto", sans-serif;
  }

  & .newsletter-sentence {
    width: fit-content;
    font-size: 3rem;
    font-weight: 700;
    word-spacing: 0.2rem;
  }

  & .newsletter-input-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40rem;
    height: 4rem;
    & .newsletter-input {
      height: 4rem;
      width: 35rem;
    }
    & .newsletter-button {
      height: 110%;
      width: 7rem;
      color: white;
      font-size: 2.5rem;
      border: .1rem solid rgb(126, 126, 126);
      background-color: rgb(34, 34, 34);
    }
  }
}
