.slider-contianer {
  position: relative;
  height: 90vh;
  width: inherit;
  background-color: rgba(245, 245, 245, 0.582);

  & .image-wrapper {
    transition: all 1.5s ease-in;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    & .slider-pic {
      height: 100%;
    }
    & .slider-content {
      height: 100%;
      width: 30%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: stretch;

      & .slider-btn {
        height: 5rem;
        width: 13rem;
        text-transform: uppercase;
        padding: 0.3rem;
        background-color: transparent;
        margin-block-start: 4rem;
        font-size: 2.5rem;
        border: 1rem bold black;
        text-decoration: none;
        cursor: pointer;
      }

      & .slider-title {
        font-size: 6rem;
        letter-spacing: 0.2rem;
        font-family: "Roboto", sans-serif;
      }
      & .slider-description {
        letter-spacing: 0.2rem;
        font-size: 3rem;
        font-weight: 600;
      }
    }
  }
  & .arrow {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    height: 7rem;
    width: 7rem;
    // background-color: rgba(168, 168, 168, 0.726);
    opacity: 20%;
    border-radius: 50%;
    cursor: pointer;
    animation: all 1.5s ease;
  }

  .arrow:hover {
    opacity: 1;
  }

  & .start {
    top: 50%;
    left: 4rem;
  }
  & .end {
    position: absolute;
    right: 4rem;
    top: 50%;
  }

  & .fas.fa-angle-left {
    font-size: 5rem;
    color: black;
    opacity: 0.5;
  }
  & .fas.fa-angle-right {
    font-size: 5rem;
    color: black;
    opacity: 0.5;
  }
}

@keyframes arrows {
  0% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
